<div class="jumbotron jumbotron-main">
  <div class="container">
    <h1>Welcome to my pinterest</h1>
    <p>...</p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Launch demo modal
    </button>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success btn-lg">Left</button>
        <button type="button" class="btn btn-warning">Middle</button>
        <button type="button" class="btn btn-danger">Right</button>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <%= image_tag 'cat1.jpg', :class => "main-img" %>
    </div>
    <div class="col-xs-6 col-sm-4">
      <%= image_tag 'cat2.jpg', :class => "main-img" %>
    </div>
    <div class="col-xs-6 col-sm-4">
      <%= image_tag 'cat3.jpg', :class => "main-img" %>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-image">
  
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      Tumblr bicycle rights banjo try-hard, small batch normcore wolf vegan. Readymade before they sold out cronut banh mi, Pinterest quinoa pork belly viral asymmetrical Wes Anderson aesthetic food truck Austin plaid Thundercats. Williamsburg quinoa art party hoodie photo booth, you probably haven't heard of them roof party Intelligentsia Carles beard Godard pour-over Pinterest. Godard Etsy 3 wolf moon PBR blog you probably haven't heard of them, twee four loko artisan Bushwick High Life Schlitz. Sartorial irony put a bird on it, fingerstache Thundercats aesthetic try-hard kogi taxidermy skateboard. Direct trade swag gastropub, church-key heirloom meggings Odd Future narwhal kale chips Godard butcher wayfarers try-hard ugh XOXO. Carles American Apparel butcher Tumblr fap.
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          +1 8-bit fingerstache meh Kickstarter,
        </div>
        <div class="col-sm-6">
          fixie street art Shoreditch seitan. Paleo farm-to-table Bushwick banjo vegan. Tumblr polaroid bitters cray photo booth. Raw denim biodiesel wayfarers VHS, whatever hoodie polaroid Brooklyn. Authentic selfies paleo 8-bit, four dollar toast irony Pinterest small batch craft beer health goth VHS vinyl organic shabby chic. Aesthetic normcore lumbersexual Banksy sustainable. Hasht
        </div>
      </div>
      +1 8-bit fingerstache meh Kickstarter, actually paleo jean shorts kitsch fixie street art Shoreditch seitan. Paleo farm-to-table Bushwick banjo vegan. Tumblr polaroid bitters cray photo booth. Raw denim biodiesel wayfarers VHS, whatever hoodie polaroid Brooklyn. Authentic selfies paleo 8-bit, four dollar toast irony Pinterest small batch craft beer health goth VHS vinyl organic shabby chic. Aesthetic normcore lumbersexual Banksy sustainable. Hashtag Intelligentsia chia, Pitchfork four loko tilde Neutra sustainable freegan single-origin coffee seitan small batch butcher Etsy semiotics.
    </div>
  </div>
</div>

<%= render partial: "modal" %>